body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 200%;
}

.photoContainer {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 100%, 90%);
  transition: background-color 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  padding: 20px;
  text-align: center;
  color: white;
}

.fade-text {
  font-size: 2rem;
  margin: 20px 0;
  transition: opacity 0.5s ease-in-out;
}

.photoContainer p {
  font-size: 10rem;
  color: rgb(87, 87, 200);
}
