.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.horizontalCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
}

.horizontalCard img,
.horizontalCard svg {
  flex-shrink: 0;
  width: 180px;
  height: 180px;
  border-radius: 100px;
  padding: 10px;
}

.horizontalCard .card-body {
  flex: 1;
  padding: 1rem;
}
